@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #D6E7EE;

}


.nav-container {

    background: #001B48;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px 30px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav ul {
    display: flex;
}

nav .logo {
    cursor: pointer;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;

    color: #ffffff;
}

nav .logo a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #FFFFFF;
}


.login button {
    background-color: #001B48;
    border: 3px solid #FFFFFF;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    cursor: pointer;
}













.home {
    position: absolute;
    width: 1441px;
    height: 700px;

    top: 102px;

    box-sizing: border-box;

    
}

.laundrynow {
    background-color: #001B48;
    border: 3px solid #FFFFFF;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    cursor: pointer;
}

.harga {
    background-color: #001B48;
    border: 3px solid #FFFFFF;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    cursor: pointer;
}

h1 {
    max-width: 733px;
    position: absolute;
    width: 65px;
    height: 59px;
    padding: 0px 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
}

h2 {
    position: absolute;
    max-width: 800px;
    width: 780px;
    height: 44px;
    left: 239px;
    top: 195px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF
}

p {
    max-width: 733px;
    position: absolute;
    width: 733px;
    height: 56px;
    left: 239px;
    top: 300px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF
}

header {
    display: flex;
    align-items: center;
}

.image-profile {
    position: absolute;
    width: 345px;
    height: 345px;
    left: 1000px;
    top: 42px;

    border-radius: 402.332px;
}






.nav-bot-container {
    margin-top: 1000px;
    display: flex;
    align-items: flex-end;
    background: #001B48;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px 30px;
}

.nav-bot-container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}


.logo-bot {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;

    color: #ffffff;
}